

body{ 
	background:#f8f8f8;
	font:13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color:#000;
	line-height:160%;
	margin:0;
	padding:0;
	text-align:center;
	}

h3{          
	font-size:140%;
	font-weight:normal;
	margin:0;
	background:#0288d1;	
	color:#fff;
	font-size:20px;
	text-align: center;
	}
		
	#header h3 span{
		display:block;
		padding:10px 20px;		
		}	
							
	
#container{	
	background:#fff;
	width:480px;
	border: 1px solid #000;
	text-align:left;
	}		


	#footer{
		padding: 0px 10px 0px 0px;
		background:#0288d1;	
		color:#fff;
		text-align: right;
		}	
	